{% extends 'base.html' %}
{% block title %} Doggy {% endblock %}
{% block content %}

    {% include 'doggy/filter.html' %}
    {% load animal_tags %}

    {% current_time "%Y-%m-%d %I:%M %p" as the_time %}
    <p>The time is {{ the_time }}.</p>

    <h2>Content</h2>
    {% if page_obj %}
        {% include 'doggy/pagination.html' %}
    {% else %}
        {% for animal in object_list %}
            <li><a href="{% url 'doggy:detail' pk=animal.pk %}" > {{ animal.pk }} {{ animal.name|upper }} </a></li>
        {% endfor %}
    {% endif %}
{% endblock %}